<div class="row">
	<div class="span4">
		<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { class: "well", :method => :put }) do |f| %>
			<fieldset>
				<legend>Change Your Password</legend>

				<%= devise_error_messages! %>
				<%= f.hidden_field :reset_password_token %>

				<%= f.input :password, "New Password" %>
				<%= f.input :password_confirmation, "Confirm New Password" %>


				<%= f.button :submit, "Change My Password" %>
			</fieldset>
		<% end %>
	</div>
</div>